.basicprofile {
  background: $link-hover-colour;
  padding-top: 2*$gutter;
}
.basicprofile__content {
  position: relative;
  background: #fff;
}
.basicprofile__pic {
  position: absolute;
  top: -1*$gutter;
  left: $gutter-half;
  width: 100px; height: 100px;
  overflow: hidden;
}
.basicprofile__content__items {
  padding-left: 100px + $gutter;
}

.basicprofile__name {
  padding-top: 10px;
  margin-bottom: 0;
}

.basicprofile__email {
  @include core-14();
  a {
      word-break: break-word;
  }
}
