@mixin btn($background, $colour, $hover-colour, $fontsize) {
  background: $background;
  box-shadow: none;
  border: none;
  font-size: $fontsize;
  color: $colour;
  padding: 5px $gutter-half;
  text-decoration: none;

  &:visited {
    color: $colour;
  }

  &:hover {
    cursor: pointer;
    color: $hover-colour;
  }
}

.secondary--btn {
  line-height: 1.5em;
  display: inline-block;
  @include btn($grey-2, $page-colour, $text-colour, 16px);
}

.btn--edit {
  line-height: 1.5em;
  display: block;
  @include btn($grey-2, $page-colour, $text-colour, 16px);
}

.btn--edit--dark {
  background: $grey-1;
}

.btn--right {
  float: right;
}