.component {
  border-top: 3px solid $link-colour;
  padding: $gutter 0 45px;
}

.component--top {
  margin-top: $gutter-half;
}

.component--secondary {
  border-color: $grey-2;
  margin-top: 2*$gutter;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.component__wrap {
  @extend .component;
  @extend %contain-floats;
  margin: 0 $gutter-half;
}

.component--clear {
  border: none;
}

.component--inner {
  padding-bottom: $gutter-half;
}

.component__head {
  margin-top: 0;
}
.component__body {
  
}

.component--finder {
  background: $link-colour;
  color: $page-colour;
  padding: $gutter $gutter-half;

  .component__head {
    color: $page-colour;
  }
}