.data-item__wrap:first-of-type .data-item {
  border-top: 1px solid $grey-3;
}
.data-item {
  @extend %contain-floats;
  padding: 10px 0;
  line-height: 1.5em;
  margin: 0 $gutter-half;
  border-bottom: 1px solid $grey-3;
}
.data-item__type {
  font-weight: bold;
}
.data-item__entry {}

button.data-item__edit,
button.btn--edit {
  line-height: 1.5em;
  display: block;
  @include btn($grey-2, $page-colour, $text-colour, 16px);
}