.event {
  @extend %contain-floats;
  padding-bottom: $gutter-half;
}

.event__date {
  text-transform: uppercase;
  text-align: center;

  span {
    display: block;
    font-size: 36px;
    line-height: 1em;
  }
}

.event__details__heading {
  color: $link-colour;
  font-weight: 700;
}

.event__details__secondary {
  font-size: 16px;
}

.event__save {
  display: block;
  font-size: 16px;
  text-align: right;

  @include link($visited-colour: $link-colour);
}