.profile__nav {
  background: $panel-colour;
  text-align: center;
}

.profile__nav__item {
  display: inline-block;
  padding: $gutter-half $gutter;

  a {
    text-decoration: none;
    color: $secondary-text-colour;
  }

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid $link-hover-colour;

    a {
      color: $text-colour;
    }
  }
}

.profile__nav__item--active {
  border-bottom: 3px solid $link-colour;

  a {
    color: $text-colour;
  }
}