.profile__nav {
  background: $panel-colour;
  text-align: center;
}

.profile__nav__item {
  display: inline-block;
  padding: $gutter-half $gutter;

  a {
    text-decoration: none;
    color: $secondary-text-colour;
  }

  &:hover {
    background: $link-hover-colour;
    cursor: pointer;
    //border-bottom: 3px solid $link-colour;

    a {
      color: $page-colour;
    }
  }
}

.profile__nav__item--active {
  background: $link-hover-colour;
  //border-bottom: 3px solid $link-colour;
  color: $page-colour;
  font-weight: bold;

  a {
    color: $page-colour;
  }
}