.search-results__number {
  font-size: 16px;
  line-height: 1.5em;
  display: none;
}

.search-results__number--active {
  display: block;
}

.search-results__summary {
  font-size: 16px;
  line-height: 1.5em;
}