.section {
  border-top: 1px solid $border-colour;
  padding-top: $gutter;

  & > h2 {
    margin-top: 0;
  }

  p:first-child,
  h3:first-child {
    margin-top: 0;
  }
}

.review__section {
  @extend .section;
}