.side-menu {
  
}

.side-menu__item {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  padding: 5px 0 5px $gutter-half;

  &:hover {
    background: $highlight-colour;

    a {
      color: $text-colour;;
    }
  }

  a {
    color: $secondary-text-colour;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }
}

.side-menu__item--active {
  border-left: 3px solid $link-colour;
  a {
    color: $text-colour;
  }
}

.side-menu__item--btn {
  border-top: 3px solid $link-colour;
  margin-top: $gutter;
  padding: $gutter-half 0;
}