.skill {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: $gutter-half;
  margin-bottom: $gutter-half;
  border: 1px solid $panel-colour;
}

.skills-list li {
  @extend .skill;

  &:hover {
    cursor: pointer;
    background: $panel-colour;
    color: $page-colour;
  }

  a {
    text-decoration: none;
    color: $link-colour;
  }
}

.skills-list--dark li {
  border-color: $page-colour;

  &:hover {
    background: $page-colour;
  }
}

.jd__assoc-skills .skill {
  a {
    text-decoration: none;
  }
  a:hover {
    color: $page-colour;
  }
}

.jd__assoc-skills .skill--highlighted {
  background: $link-hover-colour;
  border-color: $link-hover-colour;

  a {
    color: $page-colour;
  }
}

.skills__extra__head {
  margin-bottom: 0.25em;
  h4 {
    display: inline;
  }
} 
.skills__extra__btn {
  font-size: 19px;
  font-weight: bolder;
  border: 1px dashed $grey-2;
  outline: none;
  background: transparent;
  padding: 10px 10px 5px;
  line-height: 1em;
  &:hover {
    cursor: pointer;
    background: $grey-4;
    color: $mellow-red;
  }
}
.skills__extra {
  display: none;
  &.active {
    display: block;
  }
}

.skills__extra--no-linkedin {
  .skills__additional {
    display: none;
  }
  .no__skills {
    display: block;
  }
}

.no__skills {
  display: none;
  color: $grey-2;
  border: 1px dashed $grey-2;
  text-align: center;
  padding: $gutter-half;
  margin: $gutter-half;

  p {
    margin: 0;
  }
}