{#
govuk_template.html defines the following blocks:

- top_of_page
- page_title
- head
- body_classes
- body_start
- cookie_message
- header_class
- inside_header
- proposition_header
- after_header
- content
- footer_top
- footer_support_links
- body_end

See https://github.com/alphagov/govuk_template for more
information regarding the template.

#}

{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  {# for bundle definitions, see assets.py #}

  {% assets "css_govuk" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "css_app" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block inside_header %}
  <span style="font-size:large;">
  <a style="color:#eee;" href="/">
    Prototypes
  </a>

  {% if current_user and current_user.is_authenticated() %}
    | <a style="color:#eee;" href="{{ url_for('public.logout') }}">Sign out {{ current_user.email }}</a>
  {% endif %}
</span>
{% endblock %}

{% block body_end %}

  {# TODO jsmin etc #}
  {% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "js_govuk" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "js_app" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}
