<a href="/settings" class="settings-btn settings-btn--right">settings</a>
<div class="settings__wrap">
  <form class="settings__form">
    <fieldset>
      <legend>Choose how you'd like to receive notifications regarding your application</legend>
      <input type="checkbox" name="box1" value="email" id="email_check"> <label for="email_check">email</label> <br>
      <input type="checkbox" name="box1" value="sms" id="sms_check"> <label for="sms_check">SMS</label>
    </fieldset>
    <div class="settings__save__wrap">
      <button class="btn--edit btn--edit--dark settings__save">save</button>
      <span class="settings-msg__success">Saved!</span>
    </div>
  </form>
</div>