<div class="basicprofile">
  <div class="basicprofile__content">
    <img src="{% if profile.data.profile_pic is defined %}{{profile.data.profile_pic}}{% else %}http://placehold.it/100x100{% endif %}" class="basicprofile__pic">
    <div class="basicprofile__content__items">
      <h3 class="heading-small basicprofile__name">{{ person.name }}</h3>
      {% if person.cs %}
      <p class="basicprofile__email"><a href="">{{ person.emails.work }}</a></p>
      {% else %}
      <p class="basicprofile__email"><a href="">{{ person.emails.personal }}</a></p>
      {% endif %}
    </div>
    {% if person.cs %}
    <section class="key-info__wrap">
      <table>
        <tbody>
          <tr>
            <td class="key-info__type">tel:</td>
            <td><a href="tel:{{ profile.data.tel }}">{{ profile.data.tel }}</a></td>
          </tr>
        </tbody>
      </table>
    </seciton>
    {% endif %}
  </div>
</div>