<div class="basicprofile" itemscope itemtype="http://schema.org/Person">
  <div class="basicprofile__content">
    <img src="{% if profile.data.profile_pic is defined %}{{profile.data.profile_pic}}{% else %}http://placehold.it/100x100{% endif %}" class="basicprofile__pic" itemprop="image">
    <div class="basicprofile__content__items">
      <h3 class="heading-small basicprofile__name" itemprop="name">{{ profile.data.name }}</h3>
      <p class="basicprofile__email"><a href="mailto:{{ profile.data.email.personal }}" itemprop="email">{{ profile.data.email.personal }}</a></p>
      {% if profile.data.locations is defined %}
      <p class="basicprofile__email" itemprop="name">
      <a href="{{ profile.data.locations.office.url }}">my location</a>
      </p>
      {% endif %}
    </div>
    {% if person.cs %}
    <section class="key-info__wrap">
      <table>
        <tbody>
          <tr>
            <td class="key-info__type">tel:</td>
            <td><a itemprop="telephone" href="tel:{{ profile.data.tel }}">{{ profile.data.tel }}</a></td>
          </tr>
        </tbody>
      </table>
    </section>
    {% endif %}
  </div>
</div>
