{% macro build_course_item(course) %}

<li class="course-list__item">
  <div class="column-quarter course__date">{{ course.date }}</div>
  <div class="column-three-quarter course-list__item__title course__status course__status--{{ course.status }}">{{ course.name }}</div>
</li>

{% endmacro %}

{% macro build_record_item(course) %}

<tr>
  <td>{{ course.date }}</td>
  <td>{{ course.name }}</td>
  <td>{{ course.score }}</td>
  <td>{{ course.type }}</td>
  <td>{{ course.expiry }}</td>
  <td><a href="" class="button">refresh</a></td>
</tr>

{% endmacro %}