<div class="">
  <h3 class="heading-medium component__head">Expenses</h3>
  <a href="/being_a_civil_servant/addreceipt" class="foot-link">view details</a>
  <div class="">
    <table class="table--borderless">
      <tbody>
        <tr>
          <td>Pending items</td>
          <td class="numeric cell--highlight">2</td>
        </tr>
        <tr>
          <td>Approved items</td>
          <td class="numeric cell--highlight">2</td>
        </tr>
      </tbody>
    </table>

    <div class="expenses__totals">
      <table class="table--borderless">
        <tbody>
          <tr>
            <td>Total owed</td>
            <td class="numeric cell--highlight">£397</td>
          </tr>
          <tr>
            <td>Payment due</td>
            <td class="numeric cell--highlight">2nd June</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>