<ul class="job-search-items">
  <li class="job-search-item {% if profile.data.cv %}cv-active{% endif %}">
    <div class="no-cv-content">
      <label for="cv-upload" class="form-label">Upload CV</label>
      <input type="file" class="cv-upoad" id="cv-upload" />
    </div>
    <div class="grid-row cv-content">
      <div class="column-quarter"><img src="/static/images/resume.svg" alt="" class="" /></div>
      <div class="column-three-quarter">
        <a href="" class="job-search-item__link">view CV</a>
      </div>
    <div>
  </li>

  <li class="job-search-item linkedin--associated{% if not profile.data.integrations.linkedin %}-not{% endif %}" data-item-type="linkedin">
    <div class="grid-row">
      <div class="column-quarter"><img src="/static/images/linkedin.png" alt="" class="linkedin--logo" /></div>
      <div class="column-three-quarter">
        <a href="" class="linkedin--associated--link job-search-item__link">view profile</a>
        <span class="linkedin--associating__loader"><img src="/static/images/linkedin-loader.gif" alt="" />connecting </span>
        <span class="linkedin--not-associated--link job-search-item__link">&mdash; not yet associated &mdash;</a>
      </div>
    </div>
  </li>
</ul>