<ul class="job-alerts">
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Grade</dt>
      <dd>A2</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">HTML</dd>
      <dd class="skill">CSS</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <div class="job-alert__switch">
      <input id="jas-toggle-1" class="job-alert__toggle job-alert__toggle--on-off" type="checkbox" checked>
      <label for="jas-toggle-1" data-on="On" data-off="Off"></label>
    </div>
  </li>
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Location</dt>
      <dd>London</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">HTML</dd>
      <dd class="skill">CSS</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <div class="job-alert__switch">
      <input id="jas-toggle-2" class="job-alert__toggle job-alert__toggle--on-off" type="checkbox">
      <label for="jas-toggle-2" data-on="On" data-off="Off"></label>
    </div>
  </li>
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Location</dt>
      <dd>London</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">Strategy</dd>
      <dd class="skill">Digital transformation</dd>
      <dd class="skill">Agile</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <div class="job-alert__switch">
      <input id="jas-toggle-3" class="job-alert__toggle job-alert__toggle--on-off" type="checkbox">
      <label for="jas-toggle-3" data-on="On" data-off="Off"></label>
    </div>
  </li>
</ul>