<form class="search__form" action="">

  <h1 class="form-title heading-xlarge section__head">
    Search vacancies
  </h1>

  <div class="form-group">
    <p class="form-hint">Search by keyword or reference number</p>
    <input type="text" class="form-control search_input" id="jd_search">
  </div>

  <details>
    <summary>advanced search options</summary>
    <div>balh blah blah</div>
  </details>

  <!--<nav class="nav"><span><a href="/jobs/your_apps" title="view your applications">view saved</a></span></nav>-->

</form>