<ul class="job-alerts">
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Grade</dt>
      <dd>A2</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">HTML</dd>
      <dd class="skill">CSS</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <span class="job-alert__toggle">on/off</span>
  </li>
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Location</dt>
      <dd>London</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">HTML</dd>
      <dd class="skill">CSS</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <span class="job-alert__toggle">on/off</span>
  </li>
  <li class="job-alert">
    <dl class="job-alert__param">
      <dt>Profession</dt>
      <dd>Digital</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Location</dt>
      <dd>London</dd>
    </dl>
    <dl class="job-alert__param">
      <dt>Skills</dt>
      <dd class="skill">Strategy</dd>
      <dd class="skill">Digital transformation</dd>
      <dd class="skill">Agile</dd>
    </dl>
    <button class="job-alert__remove">x</button>
    <span class="job-alert__toggle">on/off</span>
  </li>
</ul>