<ul class="side-menu">
  <li class="side-menu__item {% if activeMenu == 'home' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_jobs">Search</a></li>
  <li class="side-menu__item {% if activeMenu == 'history' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_jobs/history">History</a></li>
  <li class="side-menu__item {% if activeMenu == 'apps' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_jobs/apps">Your applications</a></li>
  <li class="side-menu__item {% if activeMenu == 'alerts' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_jobs/alerts">Alerts</a></li>
</ul>