<section class="section">
  <h2 class="heading-medium">Skills for ...</h2>
  <div class="grid-row">
    <div class="column-half">
      <div class="results__personal"></div>
      <p class="caption">How you scored yourself</p>
    </div>
    <div class="column-half">
      <div class="results__peer"></div>
      <p class="caption">How your colleagues scored you</p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="heading-medium">Additional skills</h2>
  <div class="grid-row">
    <div class="column-half">
      <ul class="jd__assoc-skills">
        <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
        <li class="skill" data-skill="Python">Python</li>
        <li class="skill" data-skill="Graphic design">Graphic design</li>
      </ul>
    </div>
    <div class="column-half">
      <ul class="jd__assoc-skills">
        <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
        <li class="skill" data-skill="Business analysis">Business analysis</li>
        <li class="skill" data-skill="Prototyping">Prototyping</li>
        <li class="skill" data-skill="Service design">Service design</li>
        <li class="skill" data-skill="Consultancy">Consultancy</li>
        <li class="skill" data-skill="Problem solving">Problem solving</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="heading-medium">Feedback</h2>
  <ul>
    <li>
      <p>
      "Great member of the team. Always wants to get involved and help out."
      </p>
    </li>
    <li>
      <p>
      "Sometimes a bit too idealistic. Could improve impact by picking which areas to focus his efforts on"
      </p>
    </li>
  </ul>
</section>

<section class="section">
  <h2 class="heading-medium">Suggested learning</h2>
  <ul class="list-number">
    <li><a href="">Javascript design patterns</a></li>
    <li><a href="">Service design training</a></li>
    <li><a href="">SCRUM practitioner</a></li>
  </ul>
</section>