<section class="component--finder component--top people-finder">
  <h4 class="heading-medium component__head">
    Civil Service people finder
  </h4>
  <p>Search by name, department or profession</p>
  <form action="" class="form">
    <div class="form-group people-finder-search">
      <label class="people-finder-label" for="person-search">Search across government</label>
      <input type="text" class="people-finder-input" id="person-search">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>
</section>