<ul class="side-menu">
  <li class="side-menu__item {% if activeMenu == 'home' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_perf">Activities</a></li>
  <li class="side-menu__item {% if activeMenu == 'obj' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_perf/objectives">Objectives</a></li>
  <li class="side-menu__item {% if activeMenu == 'last' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_perf/last">Last review</a></li>
  <li class="side-menu__item {% if activeMenu == 'history' %}side-menu__item--active{% endif %}"><a href="/signup/csprofile_perf/history">History</a></li>
</ul>