<div class="profile profile__status profile__status--{{user.status}}">
  {% if user.profile_pic is defined %}
    <img src="{{ user.profile_pic }}" class="profile__pic">
  {% else %}
    <img src="http://placehold.it/100x100" class="profile__pic">
  {% endif %}
  <div class="profile__info">
    <h3 class="heading-normal profile__name">
      {% if user is defined %}
        {{ user.name }}
      {% else %}
        Joe Bloggs
      {% endif %}
    </h3>
    <ul>
      <li>
      {% if user is defined %}
        {{ user.role }}
      {% else %}
        Developer
      {% endif %}
      </li>
      <li class="profile__team">
      {% if user is defined %}
        {{ user.team }}
      {% else %}
        Cross government tools
      {% endif %}
      </li>
      <li>
        <ul>
          <li class=""><a href="{{ user.review_url|default('/jobs/review') }}">perform review</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
