<h3 class="heading-medium component__head">Skills profile</h3>
{% if person.cs %}
<section class="component--inner">
  <h4 class="heading-small">Skills associated to role</h4>
  <ul class="jd__assoc-skills">
    <li class="skill" data-skill="Agile">Agile</li>
    <li class="skill" data-skill="Javascript">Javascript</li>
    <li class="skill" data-skill="User needs">User needs</li>
    <li class="skill" data-skill="HTML">HTML</li>
    <li class="skill" data-skill="CSS">CSS</li>
    <li class="skill" data-skill="Problem solving">Problem solving</li>
    <li class="skill" data-skill="Digital services">Digital services</li>
    <li class="skill" data-skill="User centred design">User centred design</li>
    <li class="skill" data-skill="Web security">Web security</li>
    <li class="skill" data-skill="Open standards">Open standards</li>
    <li class="skill" data-skill="Open source">Open source</li>
  </ul>
</section>
{% endif %}
<div class="skills__extra__wrap component--inner {% if not person.cs %}skills__extra--no-linkedin{% endif %}">
  <div class="skills__extra__head">
    <h4 class="heading-small">Additional skills</h4>
    <button class="skills__extra__btn">+</button>
  </div>
  <ul class="skills__additional">
    <li class="skill" data-skill="Agile">Python</li>
    <li class="skill" data-skill="Javascript">Business analysis</li>
    <li class="skill" data-skill="User needs">Stakeholder management</li>
    <li class="skill" data-skill="HTML">Content design</li>
    <li class="skill" data-skill="CSS">Graphic design</li>
  </ul>
  {% if not person.cs %}
  <div class="no__skills">
    <p>not started</p>
  </div>
  {% endif %}
</div>

<div class="skills__extra">
  <label class="form-label" for="other-skills">Add skill/s</label>
  <input class="form-control" type="text" id="other-skills"/>
</div>