<section class="review__section">

  <details class="filter">
    <summary>Filter by status</summary>
    <button data-status="saved" class="filter-btn button--saved">Saved (2)</button>
    <button data-status="incomplete" class="filter-btn button--incomplete">Incomplete (1)</button>
    <button data-status="received" class="filter-btn button--received">Received (1)</button>
    <button data-status="inprogress" class="filter-btn button--in-progress">In progress (1)</button>
    <button data-status="offer" class="filter-btn button--offer">Offers (1)</button>
    <button data-status="rejected" class="filter-btn button--rejected">Rejected (1)</button>
  </details>

  <ul class="apps__list">

    <!-- application saved, Cabinet office -->
    <li class="app__container" data-jd-status="saved">
      <div class="app__wrapper">
        <div class="app__status app__status--saved">
          <p>saved for later</p>
          <a href="" class="app__status__button app__status--remove">remove</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1546821</span>
          </div>

          <h1 class="heading-large jd__role">Deputy Director</h1>
          <p class="heading-medium jd__title--department">Cabinet Office</p>
          <p class="heading-medium jd__closing-date">Closing date: 19 Aug 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Strategic thinking">Strategic thinking</li>
            <li class="skill" data-skill="Leadership">Leadership</li>
            <li class="skill" data-skill="Communication">Communication</li>
            <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Decision making">Decision making</li>
            <li class="skill" data-skill="Resourcing">Resourcing</li>
            <li class="skill" data-skill="Programme delivery">Programme delivery</li>
            <li class="skill" data-skill="Change management">Change management</li>
          </ul>
          <a href="" class="button">Apply now</a>

        </div>
      </div>
    </li>

    <!-- application saved, Insolvency Service -->
    <li class="app__container" data-jd-status="saved">
      <div class="app__wrapper">
        <div class="app__status app__status--saved">
          <p>saved for later</p>
          <a href="" class="app__status__button app__status--remove">remove</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1546821</span>
          </div>

          <h1 class="heading-large jd__role">Director of Strategy</h1>
          <p class="heading-medium jd__title--department">Insolvency Service</p>
          <p class="heading-medium jd__closing-date">Closing date: 19 Aug 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Strategic thinking">Strategic thinking</li>
            <li class="skill" data-skill="Leadership">Leadership</li>
            <li class="skill" data-skill="Communication">Communication</li>
            <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
            <li class="skill" data-skill="Operational delivery">Operational delivery</li>
            <li class="skill" data-skill="Decision making">Decision making</li>
            <li class="skill" data-skill="Resourcing">Resourcing</li>
            <li class="skill" data-skill="MPLA">MPLA</li>
            <li class="skill" data-skill="Change management">Change management</li>
          </ul>
          <a href="" class="button">Apply now</a>

        </div>
      </div>
    </li>

    <!-- application completed -->
    <li class="app__container" data-jd-status="received">
      <div class="app__wrapper">
        <div class="app__status">
          <p>received</p>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1442373</span>
          </div>

          <h1 class="heading-large jd__role">Frontend developer</h1>
          <p class="heading-medium jd__title--department">Ministry of Justice (MoJ)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Apr 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>

        </div>
      </div>
    </li>

    <!-- application saved, GDS -->
    <li class="app__container" data-jd-status="saved">
      <div class="app__wrapper">
        <div class="app__status app__status--saved">
          <p>saved for later</p>
          <a href="" class="app__status__button app__status--remove">remove</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1456376</span>
          </div>

          <h1 class="heading-large jd__role">Full stack developer</h1>
          <p class="heading-medium jd__title--department">Government Digital Service (GDS)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Apr 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>
          <a href="" class="button">Apply now</a>

        </div>
      </div>
    </li>

    <!-- application saved, MoJ -->
    <li class="app__container" data-jd-status="saved">
      <div class="app__wrapper">
        <div class="app__status app__status--saved">
          <p>saved for later</p>
          <a href="" class="app__status__button app__status--remove">remove</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1446611</span>
          </div>

          <h1 class="heading-large jd__role">Front-end developer</h1>
          <p class="heading-medium jd__title--department">Ministry of Justice (MoJ)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Apr 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>
          <a href="" class="button">Apply now</a>

        </div>
      </div>
    </li>

    <!-- application incomplete, GDS -->
    <li class="app__container" data-jd-status="incomplete">
      <div class="app__wrapper">
        <div class="app__status app__status--incomplete">
          <p>incomplete</p>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1446611</span>
          </div>

          <h1 class="heading-large jd__role">Front-end developer</h1>
          <p class="heading-medium jd__title--department">Government Digital Service (GDS)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Aug 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>
          <a href="/signup/application" class="button">continue application</a>

        </div>
      </div>
    </li>

    <!-- application in progress, MoJ -->
    <li class="app__container" data-jd-status="inprogress">
      <div class="app__wrapper">
        <div class="app__status app__status--in-progress">
          <p>in progress</p>
          <a href="" class="app__status__button">arrange interview</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1446611</span>
          </div>

          <h1 class="heading-large jd__role">Front-end developer</h1>
          <p class="heading-medium jd__title--department">Ministry of Justice (MoJ)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Apr 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>

        </div>
      </div>
    </li>

    <!-- application offer, MoJ -->
    <li class="app__container" data-jd-status="offer">
      <div class="app__wrapper">
        <div class="app__status app__status--offer">
          <p>offer given</p>
          <a href="/signup/basicprofile/checklist" class="app__status__button">accept offer</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1446611</span>
          </div>

          <h1 class="heading-large jd__role">Front-end developer</h1>
          <p class="heading-medium jd__title--department">Ministry of Justice (MoJ)</p>
          <p class="heading-medium jd__closing-date">Closing date: 17 Apr 2015</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Javascript">Javascript</li>
            <li class="skill" data-skill="User needs">User needs</li>
            <li class="skill" data-skill="HTML">HTML</li>
            <li class="skill" data-skill="CSS">CSS</li>
            <li class="skill" data-skill="Problem solving">Problem solving</li>
            <li class="skill" data-skill="Digital services">Digital services</li>
            <li class="skill" data-skill="User centred design">User centred design</li>
            <li class="skill" data-skill="Web security">Web security</li>
            <li class="skill" data-skill="Open standards">Open standards</li>
            <li class="skill" data-skill="Open source">Open source</li>
          </ul>

        </div>
      </div>
    </li>

    <!-- application rejected, MoJ -->
    <li class="app__container" data-jd-status="rejected">
      <div class="app__wrapper">
        <div class="app__status app__status--rejected">
          <p>rejected</p>
          <a href="" class="app__status__button">view feedback</a>
        </div>
        <div class="app__info jd__listing">
          <div class="jd__reference">
            <span>#1446611</span>
          </div>

          <h1 class="heading-large jd__role">HR business manager</h1>
          <p class="heading-medium jd__title--department">Ministry of Justice (MoJ)</p>
          <p class="heading-medium jd__closing-date">Closed: 14 Dec 2014</p>
          <h4 class="heading-small">Associated skills</h4>
          <ul class="jd__assoc-skills">
            <li class="skill" data-skill="Agile">Agile</li>
            <li class="skill" data-skill="Conflict%20management">Conflict management</li>
            <li class="skill" data-skill="Change%20management">Change management</li>
            <li class="skill" data-skill="Administration">Administration</li>
            <li class="skill" data-skill="Stakeholder%20management">Stakeholder management</li>
            <li class="skill" data-skill="Problem%20solving">Problem solving</li>
            <li class="skill" data-skill="Talent%20management">Talent management</li>
            <li class="skill" data-skill="Sourcing">Sourcing</li>
            <li class="skill" data-skill="Executive%20search">Executive search</li>
          </ul>

        </div>
      </div>
    </li>
  </ul>
</section>