// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

@import 'components/helpers';
@import 'components/profile';
@import 'components/basicprofile';
@import 'components/services';
@import 'components/side-menu';
@import 'components/job_alerts';
@import 'components/skills';
@import 'components/profile_nav';
@import 'components/add_widget';
@import 'components/widget';
@import 'components/checklist';
@import 'components/jobs_history';
@import 'components/event';
@import 'components/courses';
@import 'components/objectives';
@import 'components/settings';
@import 'components/todo';

// global for all profile based pages
#global-header-bar {
  display: none;
}

.column-three-quarter {
  @include grid-column(3/4);
}

.column-eighth {
  @include grid-column(1/8);
}

.column-twelfth {
  @include grid-column(1/12);
}

.bold-xxsmall {
  @include bold-14();
}

.temp {
  height: 330px;
}

.form {
  @extend %contain-floats;
}

// for sections containing widgets
.container {
  margin-top: $gutter-half;
}

.skill {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: $gutter-half;
  margin-bottom: $gutter-half;
  border: 1px solid $panel-colour;
}

.info__item {
  font-weight: bolder;
  text-align: right;
}

.foot-link {
  font-size: 16px;
}