// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

@import 'components/helpers';
@import 'components/profile';
@import 'components/basicprofile';
@import 'components/services';
@import 'components/side-menu';
@import 'components/job_alerts';
@import 'components/skills';
@import 'components/profile_nav';
@import 'components/add_widget';
@import 'components/widget';
@import 'components/checklist';
@import 'components/jobs_history';
@import 'components/event';
@import 'components/courses';
@import 'components/objectives';
@import 'components/settings';
@import 'components/todo';
@import 'components/welcome';
@import 'components/week-view';
@import 'components/next-meeting';
@import 'components/progresslist';
@import 'components/data-item';
@import 'components/header-group';

// global for all profile based pages
#global-header-bar {
  display: none;
}

.column-three-quarter {
  @include grid-column(3/4);
}

.column-eighth {
  @include grid-column(1/8);
}

.column-twelfth {
  @include grid-column(1/12);
}

.bold-xxsmall {
  @include bold-14();
}

.temp {
  height: 330px;
}

.form {
  @extend %contain-floats;
}

// for sections containing widgets
.container {
  margin-top: $gutter-half;
}

.skill {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: $gutter-half;
  margin-bottom: $gutter-half;
  border: 1px solid $panel-colour;
}

.info__item {
  font-weight: bolder;
  text-align: right;
}

.foot-link {
  font-size: 16px;
}

.key-info__wrap {
  //border: 1px solid $grey-4;
  padding: 5px;
  //box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

  td + td {
    padding-right: 0;
  }
}

.job-history__item {
  border-bottom: 1px solid $grey-2;
  padding: $gutter;
  .job-history__role {
    margin: 0;
  }
}
.job-history__company,
.job-history__date {
  color: $secondary-text-colour;
}
.job-history__company {
  font-size: 19px;
  font-weight: bold;
}
.job-history__date {
  font-size: 16px;
  margin-bottom: 0;
}
$linkedin: #0077b5;
.from-linkedin {
  font-size: 14px;
  margin-top: 4px;
  color: $linkedin;
  text-align: right;
}
.linkedin-image {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -1px;
}

// horrid
.app_section li.app__competency {
  margin-bottom: $gutter-half;

  textarea {
    width: 100%;
  }
}
.app__section {
  margin-bottom: $gutter;
}
.btn--right {
  float: right;
}
button.btn--edit--dark {
  background: $grey-1;
}