// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

#global-header-bar {
  display: none;
}

.column-three-quarter {
  @include grid-column(3/4);
}

.profile__nav {
  background: $panel-colour;
  text-align: center;
}

.profile__nav__item {
  display: inline-block;
  padding: $gutter-half $gutter;

  a {
    text-decoration: none;
    color: $text-colour;
  }

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid $link-hover-colour;
  }
}

.profile__nav__item--active {
  border-bottom: 3px solid $link-colour;
}

.temp {
  height: 330px;
}

.revoke__btn {
  margin-top: em(25, 20);

  @include media(tablet) {
    margin-top: em(45, 24);
  }
}

.service__item {
  border-bottom: 1px dotted $panel-colour;
}

.secondary {
  color: $secondary-text-colour;
  font-size: 16px;

  span {
    display: block;
  }
}