// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

// import scss common to all stylesheets
@import 'common/helpers';
@import 'common/global';
@import 'common/typography_ext';
@import 'common/layout_ext';

@import 'hr_components/component';
@import 'hr_components/key-metric';

@import 'components/table';

body {
  background: $grey-4;
}

.dashboard__grouping {
  padding: $gutter-half;
  margin-bottom: $gutter;
  h3 {
    margin: 0;
  }
  & > h3:first-child {
    margin-bottom: $gutter-half;
    font-weight: lighter;
  }
}

.metric__group {
  padding: $gutter-half 0;
}
.metric {
  text-align: center;
  border-right: 1px solid $grey-3;

  h3 {
    font-weight: normal;
  }

  &:last-child {
    border: none;
  }
}

.metric__value {
  display: block;
  font-size: 32px;
  padding: 25px 0;
  font-weight: bolder;
}

.breadcrumb {
  background: $page-colour;
  padding: $gutter-half;
  margin: $gutter 0;
  box-shadow:0 1px 2px #aaa;
}

.grid-row--no-margin {
  margin: 0;
}

%active {
  background: $light-blue;

  a, a:visited { color: $page-colour; }
}

.side-menu {
  .side-menu__item {
    margin: 0;
    padding: $gutter-half;

    a {
      height: 100%;
      display: block;
      $tc: $text-colour;
      @include link($colour: $tc, $hover-colour: $tc, $visited-colour: $tc, $hover-decoration: none);
    }

    &:hover { @extend %active; }
    &.side-menu__item--active { @extend %active; }
  }
}
