// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

// import scss common to all stylesheets
@import 'common/helpers';
@import 'common/global';
@import 'common/typography_ext';
@import 'common/layout_ext';

@import 'hr_components/component';
@import 'hr_components/key-metric';

body {
  background: $grey-4;
}

.breadcrumb {
  background: $page-colour;
  padding: $gutter-half;
  margin: $gutter 0;
  box-shadow:0 1px 2px #aaa;
}

.grid-row--no-margin {
  margin: 0;
}

.side-menu {
  li {
    margin: 0 (-$gutter-half);
    padding: $gutter-half;

    a {
      height: 100%;
      display: block;
      $tc: $text-colour;
      @include link($colour: $tc, $hover-colour: $tc, $visited-colour: $tc, $hover-decoration: none);
    }

    &:hover {
      background: $light-blue;

      a {
        color: $page-colour;
      }
    }
  }
}