// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

@import 'components/back_link';
@import 'components/sections';

.signup__btn {
  position: relative;

  & span {
    display: none;

    &.signup__btn__content--active {
      display: inline;
    }
  }
}

.signup__btn:after {
    content: "";
    display: block;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 0;
    left: 8px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

$google: #dd4b39;
$facebook: #3B5998;
.signup__btn--google, .signup__btn--google:hover {
  background: $google;
  padding-left: 53px;
}

.signup__btn--google:after {
  background-image: url(/static/images/google_icon.png);
}

.signup__btn--facebook, .signup__btn--facebook:hover {
  background: $facebook;
}

.success__summary {
  visibility: hidden;

  .loggedin & {
    visibility: visible;
  }
}

.loggedin .creation__form {
  display: none;
}

// -------
// specifically for scs dashboard
// -------
.scs-table {
  .secondment {
    td {
      color: $secondary-text-colour;
    }
  }
  td {
    border-bottom: none;
  }
}
.expandable td {
  padding: 0;
  border-bottom: 1px solid #bfc1c3;
}
.expandable-content {
  padding: $gutter-half $gutter;

  .heading-small {
    margin-top: 0;
  }
}
.scs_info_item {
  line-height: 34px;

  dt {
    font-weight: bolder;
  }
}