{% extends "jobs_layout.html" %}

{% block head %}

  {{ super() }}

  {% assets "css_jobs_review" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <header class="profile--include">
    <h1 class="form-title heading-large">
    Your review
    </h1>

    <div class="grid-row">
      <div class="column-half"><p class="lede">Compare how you thought you've performed with how your colleagues think you've performed</p></div>
    </div>
    <div class="column-half profile--right">
      {% include 'includes/profile.html' %}
    </div>

  </header>

  <section class="review__section">
    <h2 class="heading-medium">Skills for ...</h2>
    <div class="grid-row">
      <div class="column-half">
        <div class="results__personal"></div>
        <p class="caption">How you scored yourself</p>
      </div>
      <div class="column-half">
        <div class="results__peer"></div>
        <p class="caption">How your colleagues scored you</p>
      </div>
    </div>
  </section>

  <section class="review__section">
    <h2 class="heading-medium">Additional skills</h2>
    <div class="grid-row">
      <div class="column-half">
        <ul class="jd__assoc-skills">
          <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
          <li class="skill" data-skill="Python">Python</li>
          <li class="skill" data-skill="Graphic design">Graphic design</li>
        </ul>
      </div>
      <div class="column-half">
        <ul class="jd__assoc-skills">
          <li class="skill" data-skill="Stakeholder management">Stakeholder management</li>
          <li class="skill" data-skill="Business analysis">Business analysis</li>
          <li class="skill" data-skill="Prototyping">Prototyping</li>
          <li class="skill" data-skill="Service design">Service design</li>
          <li class="skill" data-skill="Consultancy">Consultancy</li>
          <li class="skill" data-skill="Problem solving">Problem solving</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="review__section">
    <h2 class="heading-medium">Feedback</h2>
    <ul>
      <li>
        <p>
        "Great member of the team. Always wants to get involved and help out."
        </p>
      </li>
      <li>
        <p>
        "Sometimes a bit too idealistic. Could improve impact by picking which areas to focus his efforts on"
        </p>
      </li>
    </ul>
  </section>

  <section class="review__section">
    <h2 class="heading-medium">Suggested learning</h2>
    <ul class="list-number">
      <li><a href="">Javascript design patterns</a></li>
      <li><a href="">Service design training</a></li>
      <li><a href="">SCRUM practitioner</a></li>
    </ul>
  </section>

</main><!-- / #page-container -->
{% endblock %}

{% block body_end %}

  {{ super() }}

  {% assets "js_jobs_review" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}
