{% extends "jobs_layout.html" %}

{% block head %}

  {{ super() }}

  {% assets "css_jobs_review" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Review colleague
    </h1>

    <p class="lede">Please rate your colleague for the following skills</p>

    <section class="grid-row">
      <div class="column-half">
        {% include 'includes/profile.html' %}
      </div>
    </section>

    <table class="review__table">
      <thead>
        <tr>
          <th scope="col">Skill</th>
          <th class="numeric" scope="col">1</th>
          <th class="numeric" scope="col">2</th>
          <th class="numeric" scope="col">3</th>
          <th class="numeric" scope="col">4</th>
          <th class="numeric" scope="col">5</th>
        </tr>
      </thead>
      <tbody>
        {% for skill in skills %}
        <tr>
          <td>{{ skill.display_name }}</td>
          <td class="numeric">
            <label class="hidden" for="skill-{{ skill.name }}-1">{{ skill.display_name }} (1)</label>
            <input type="radio" id="skill-{{ skill.name }}-1" name="skill-{{ skill.name }}" value="{{ skill.name }} = 1" class="">
          </td>
          <td class="numeric">
            <label class="hidden" for="skill-{{ skill.name }}-2">{{ skill.display_name }} (2)</label>
            <input type="radio" id="skill-{{ skill.name }}-2" name="skill-{{ skill.name }}" value="{{ skill.name }} = 2" class="">
          </td>
          <td class="numeric">
            <label class="hidden" for="skill-{{ skill.name }}-3">{{ skill.display_name }} (3)</label>
            <input type="radio" id="skill-{{ skill.name }}-3" name="skill-{{ skill.name }}" value="{{ skill.name }} = 3" class="">
          </td>
          <td class="numeric">
            <label class="hidden" for="skill-{{ skill.name }}-4">{{ skill.display_name }} (4)</label>
            <input type="radio" id="skill-{{ skill.name }}-4" name="skill-{{ skill.name }}" value="{{ skill.name }} = 4" class="">
          </td>
          <td class="numeric">
            <label class="hidden" for="skill-{{ skill.name }}-5">{{ skill.display_name }} (5)</label>
            <input type="radio" id="skill-{{ skill.name }}-5" name="skill-{{ skill.name }}" value="{{ skill.name }} = 5" class="">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="form-group">
      <label class="form-label" for="other-skills">Please add any other skills your colleague has shown</label>
      <input class="form-control" type="text" id="other-skills"/>
      <!--<datalist id="skills">
        <option value="Public speaking"\>
        <option value="Coaching" \>
        <option value="Leadership" \>
        <option value="Accounting" \>
      </datalist>-->
      <ul class="panel-indent skills__list"></ul>
    </div>

    <div class="form-group">
      <label class="form-label" for="other-comments">Any other comments</label>
      <textarea class="form-control" type="text" id="other-comments"></textarea>
    </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <a href="/signup/csprofile_perf" class="button">Complete</a>
      <ul>
        <li><a href="/signup/csprofile_perf">Back</a></li>
      </ul>
    </div>

  </form>

</main><!-- / #page-container -->
{% endblock %}

{% block body_end %}

  {{ super() }}

  {% assets "js_jobs_review" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}
