{% extends "jobs_layout.html" %}
{% block body_classes %}notloggedin{% endblock %}
{% block content %}

{% include "includes/signup.html" ignore missing %}

<main id="content" role="main" class="{% if current_user.is_authenticated() %}loggedin{% endif %}">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form class="search__form" method="GET">

    <h1 class="form-title heading-xlarge">
      Search vacancies
    </h1>

    <div class="form-group">
      <p class="form-hint">Search by keyword or reference number</p>
      <input type="text" class="form-control search_input" id="q" name="q" value="{{ request.args.get('q') }}">
    </div>

    <details>
      <summary>advanced search options</summary>
      <div>balh blah blah</div>
    </details>

    <nav class="nav"><span><a href="/jobs/your_apps" title="view your applications">view saved</a></span></nav>

  </form>

  {% include "includes/jd_listings.html" ignore missing %}

</main><!-- / #page-container -->
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script type="application/javascript">
  ;(function($) {

    // on DOM ready

    // not nice to mix jinja logic and js logic
    // TO DO: clean up
    $(function() {
      {% with success_msg = get_flashed_messages(category_filter=["success"]) %}
      {% if success_msg %}
      if( $("#content").hasClass("loggedin") ) {
        $(".signup__success__wrap").slideDown('slow');
      };
      {% endif %}
      {% endwith %}
      $(".jd__save").on('click', function() {
        {% if current_user.is_authenticated() %}
          $(this).toggleClass( 'saved' );
        {% else %}
          $(".signup__wrap").slideDown();
        {% endif %}
      });
    });
  }(jQuery));
  </script>
{% endblock %}
