{% extends "jobs_layout.html" %}
{% block content %}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form class="search__form" action="">

    <h1 class="form-title heading-xlarge">
      Search vacancies
    </h1>

    <div class="form-group">
      <p class="form-hint">Search by keyword or reference number</p>
      <input type="text" class="form-control search_input" id="jd_search">
    </div>

    <details>
      <summary>advanced search options</summary>
      <div>balh blah blah</div>
    </details>

    <nav class="nav"><span><a href="/jobs/your_apps" title="view your applications">view saved</a></span></nav>

  </form>

  <section class="review__section">

    <p class="search-results__number"><span>0</span> results found</p>

    <ul class="jd__results">

      {% for listing in listings %}

      <li class="jd__listing">
        <div class="jd__reference">
          <span>#{{ listing.ref }}</span>
          <div class="jd__save">
            <img class="jd__save-later" src="/static/images/star_outline.svg" alt="not saved" />
            <img class="jd__saved-icon" src="/static/images/star_filled.svg" alt="saved for later" />
          </div>
        </div>

        <h1 class="heading-large jd__role">{{ listing.role }}</h1>
        <p class="heading-medium jd__title--department">{{ listing.department }}</p>
        <p class="heading-medium jd__closing-date">{{ listing.closing }}</p>
        <h4 class="heading-small">Associated skills</h4>
        <ul class="jd__assoc-skills">
          {% for skill in listing.skills %}
          <li class="skill" data-skill="{{ skill }}">{{ skill }}</li>
          {% endfor %}
        </ul>
        <a href="" class="button">Apply now</a>
        <span class="jd__readmore"><a href="">read more</a></span>
      </li>

      {% endfor %} {# listings #}

    </ul>

  </section>

</main><!-- / #page-container -->
{% endblock %}
