// See assets.py
// Even though govuk.css is built for all views, we
// still include it here for access to SASS variables.
@import '../../../static/css/govuk';

.access-summary {
  border: 8px solid $link-hover-colour;
  border-radius: 2px;
  @extend #content;
}

.access-summary__content {
  margin: $gutter-half;

  .button-secondary {
    background-color: $border-colour;
  }
}
