<h3 class="heading-medium component__head">Equipment</h3>
<table class="table--borderless">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="numeric">Update due in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laptop</td>
      <td class="cell--center">MacBook Air "13</td>
      <td class="numeric">365 days</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td class="cell--center">iPhone 5s</td>
      <td class="numeric">500 days</td>
    </tr>
  </tbody>
</table>

<div class="grid-row">
  <div class="column-half--static">
    <button class="secondary--btn">Repair</button>
  </div>
  <div class="column-half--static align-right">
    <button class="secondary--btn">Renew</button>
  </div>
</div>