<h3 class="heading-medium">Equip</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="numeric">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laptop</td>
      <td class="cell--center">MacBook Air "13</td>
      <td class="numeric">365 days</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td class="cell--center">iPhone 5s</td>
      <td class="numeric">500 days</td>
    </tr>
  </tbody>
</table>
<div class="grid-row">
  <div class="column-half">
    <button class="button">Repair</button>
  </div>
  <div class="column-half align-right">
    <button class="button">Renew</button>
  </div>
</div>