<section class="key-info__wrap">
  <table>
    <tbody>
      <tr>
        <td class="key-info__type">Role:</td>
        <td>{{ profile.data.role }}</td>
      </tr>
      <tr>
        <td class="key-info__type">Team:</td>
        <td>Cross government tools</td>
      </tr>
      <tr>
        <td class="key-info__type">Area:</td>
        <td>Government Digital Service (GDS)</td>
      </tr>
      <tr>
        <td class="key-info__type">Location:</td>
        <td>Aviation House, Holborn, London</td>
      </tr>
    </tbody>
  </table>
</section>
