<section class="key-info__wrap">
  <table>
    <tbody>
      <tr>
        <td class="key-info__type">Role:</td>
        <td>{{ profile.data.role }}</td>
      </tr>
      {% if profile.data.team != "-" %}
      <tr>
        <td class="key-info__type">Team:</td>
        <td>Cross government tools</td>
      </tr>
      {% endif %}
      <tr>
        {% if profile.data.area != "-" %}
        <td class="key-info__type">Area:</td>
        <td>{{ profile.data.area }}</td>
        {% else %}
        <td class="key-info__type">Dept:</td>
        <td><a href="https://www.gov.uk/government/organisations/{{ profile.data.organisation|lower|replace(" ", "-") }}">{{ profile.data.organisation }}</a></td>
        {% endif %}
      </tr>
      <tr>
        <td class="key-info__type">Location:</td>
        <td>{{ profile.data.location }}</td>
      </tr>
    </tbody>
  </table>
</section>
