<h4 class="heading-medium component__head">Team</h4>
<h5 class="heading-small">Line manager</h5>
<ul>
  <li><img src="http://placehold.it/50x50" class=""></li>
</ul>
<h5 class="heading-small">Team members</h5>
<ul class="people-pic__list">
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
  <li><img src="http://placehold.it/50x50" class=""></li>
</ul>