{% extends "layout.html" %}
{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Cross government tools prototypes</h1>
  <!-- feel free to change this page to suit your needs -->

  <p>This page lists some of the main prototypes we have been working on</p>

  <h2 class="heading-large">Prototypes</h2>

  <ul>
    <li>
      <a href="/profile/magic">Reset user profile</a>
    </li>
    <li>
      <a href="/profile/print">JSON representation of profile data</a>
    </li>
  </ul>

  <h3 class="heading-medium">Profile</h3>
  <ul>
    <li>
      <a href="/signup/basicprofile">Basic profile</a>
    </li>
    <li>
      <a href="/signup/csprofile">CS profile</a>
    </li>
    <li>People search</li>
  </ul>

  <h3 class="heading-medium">Jobs</h3>
  <ul>
    <li>
      <a href="/jobs/email_referred">referred by email</a>
    </li>
    <li>
      <a href="/jobs/search_by_skill">Job search by skill</a>
    </li>
    <li>
      <a href="/signup/application">Application</a></li>
    <li>
      <a href="/jobs/your_apps">Application status</a></li>
    <li>
      <a href="/jobs/contract">Contract</a>
    </li>
  </ul>
  <h4 class="heading-small">Job descriptions</h4>
  <ul>
    <li>
      <a href="/jobs/description_backend_developer">Back-end developer job description</a>
    </li>
    <li>
      <a href="/jobs/description_frontend_developer">Front-end developer job description</a>
    </li>
    <li>
      <a href="/jobs/description_policy">Policy job description</a>
    </li>
    <li>
      <a href="/jobs/description_general">General job description</a>
    </li>
  </ul>

  <h3 class="heading-medium">Pre Joining</h3>
  <ul>
    <li>
      <a href="/prejoining/pass_data">data request for pass</a>
    </li>
    <li>
      <a href="/signup/basicprofile/checklist">checklist</a>
    </li>
  </ul>

  <h3 class="heading-medium">Professions</h3>
  <ul>
    <li><a href="/professions/hub">a profession's hub page</a> (finance)</li>
    <li><a href="/professions/tech_hub">digital profession hub page</a></li>
  </ul>

  <h3 class="heading-medium">Day to day</h3>
  <ul>
    <li><a href="/being_a_civil_servant/addreceipt">add receipt</a> (not complete)</li>
    <li><a href="/signup/hr_dashboard">HR dashboard</a> (not complete)</li>
    <li><a href="/signup/scs_dashboard">SCS dashboard</a> (not complete)</li>
  </ul>

  <h3 class="heading-medium">Performance</h3>
  <ul>
    <li>Select people to review you</li>
    <li>
      <a href="/jobs/review">Colleague review</a>
    </li>
    <li>
      <a href="/jobs/review_summary">Performance summary</a>
    </li>
    <li>
      <a href="/jobs/to_review">To review</a>
    </li>
  </ul>

  <h2 class="heading-large">Resources</h2>

  <ul class="list-bullet">
    <li>
      <a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
	GOV.UK kit documentation
      </a>
    </li>
    <li>
      <a href="http://govuk-elements.herokuapp.com/snippets/">
	Guide to GOV.UK elements HTML
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/service-manual">
	Service design manual
      </a>
    </li>
    <li>
      <a href="https://www.gov.uk/design-principles">
	Government Digital Service Design Principles
      </a>
    </li>
  </ul>

</main>

{% endblock %}
