{% extends "layout.html" %}
{% block head %}

  {{ super() }}

  {% assets "css_signup" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "css_login" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  {% include "public/includes/form.html" ignore missing %}
</main>

{% endblock %}
{#% block body_end %}

  {{ super() }}

  {% assets "js_signup" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %#}
