{% extends "signup_layout.html" %}

{% block head %}

  {{ super() }}

  {% assets "css_jobs_review" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-quarter">
      {% include "partials/mini_jobs_profile.html" ignore missing %}
      <section class="section">
        {% include "partials/application_menu.html" ignore missing %}
      </section>
    </div>
    <div class="column-three-quarter">
      <header class="header-group">
        <h1 class="sub-heading">Application</h1>
        <h2 class="heading-large post-sub-heading">Employment history</h2>
      </header>

      <section class="app__section">
        <ul>
          <li class="job-history__item">
            <h3 class="heading-medium job-history__role">Front-end designer</h3>
            <h4 class="job-history__company">Karmarama</h4>
            <p class="job-history__date">Mar 2012 &mdash; present</p>
            <a href="" class="foot-link">see details</a>
          </li>

          <li class="job-history__item">
            <h3 class="heading-medium job-history__role">Product Manager</h3>
            <h4 class="job-history__company">Kainos</h4>
            <p class="job-history__date">Mar 2011 &mdash; Mar 2012</p>
            <a href="" class="foot-link">see details</a>
          </li>

          <li class="job-history__item">
            <h3 class="heading-medium job-history__role">Senior software engineer</h3>
            <h4 class="job-history__company">Virgin media</h4>
            <p class="job-history__date">Jun 2009 &mdash; Mar 2011</p>
            <a href="" class="foot-link">see details</a>
          </li>

          <li class="job-history__item">
            <h3 class="heading-medium job-history__role">Software engineer</h3>
            <h4 class="job-history__company">Microsoft</h4>
            <p class="job-history__date">Feb 2006 &mdash; Jun 2009</p>
            <a href="" class="foot-link">see details</a>
          </li>
        </ul>
        <div class="from-linkedin"><span>provided by </span><img class="linkedin-image" src="/static/images/linkedinx14.png" alt="" /></div>
      </section>
      <a href="/signup/application/competencies" class="button btn--right">next step</a>
    </div>
  </div>

</main><!-- / #page-container -->
{% endblock %}

{% block body_end %}

  {{ super() }}

  {% assets "js_jobs_review" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock %}
