{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<aside class="welcome__wrap">
  <section class="welcome">
    <h2 class="heading-large welcome__heading">Welcome to GOV.UK</h2>
    <div class="grid-row">
      <div class="column-half">
        <p class="lede">Your profile is incomplete.</p>
        <p>A completed profile helps us match you to jobs in the Civil Service.</p>
        <p><a href="/signup/basicprofile_jobs">Back to job search</a></p>
      </div>
      <div class="column-half">
        <div class="grid-row">
          <div class="column-third">
            <div class="welcome__action__wrap">
              <img src="/static/images/profile_pic.svg" alt="" />
              <a href="">upload image</a>
            </div>
          </div>
          <div class="column-third">
            <div class="welcome__action__wrap cv-upload-btn"><a href="">upload cv</a></div>
            <div class="welcome__action__wrap linkedin-upload-btn"><a href="">add linkedin</a></div>
          </div>
          <div class="column-third">
            <div class="welcome__action__wrap">
              <img src="/static/images/star_filled_grey.svg" alt="" />
              <a href="">skills profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="welcome__skip" href="">skip &and;</a>
  </section>
</aside>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-third">
      <section class="container">
      {% include "partials/basicprofile.html" ignore missing %}
      </section>
      <section class="component component--clear">
        {% include "partials/job-search-items.html" ignore missing %}
      </section>
    </div>
    <div class="column-two-thirds">
      <section class="component component--top">
        {% include "partials/todo_list.html" ignore missing %}
      </section>

      <section class="component">
        {% include "partials/skills_component.html" ignore missing %}
      </section>

    </div>
  </div>
</main>

{% endblock %}
{% block body_end %}
  {{ super() }}
  {% assets "js_basic" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}