{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<aside class="welcome__wrap">
  <section class="welcome">
    <h2 class="heading-large welcome__heading">Welcome to gov.uk</h2>
    <div class="grid-row">
      <div class="column-half">
        <p class="lede">Your profile is not yet complete</p>
      </div>
      <div class="column-half">
        <div class="grid-row">
          <div class="column-third">
            <div class="welcome__action__wrap">
              <img src="/static/images/profile_pic.svg" alt="" />
              <a href="">upload image</a>
            </div>
          </div>
          <div class="column-third">
            <div class="welcome__action__wrap"><a href="">upload cv</a></div>
            <div class="welcome__action__wrap"><a href="">add linkedin</a></div>
          </div>
          <div class="column-third">
            <div class="welcome__action__wrap">
              <img src="/static/images/star_filled_grey.svg" alt="" />
              <a href="">skills profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="welcome__skip" href="">skip &and;</a>
  </section>
</aside>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-third">
      <section class="container">
      {% include "partials/basicprofile.html" ignore missing %}
      </section>
    </div>
    <div class="column-two-thirds">
      {% include "partials/todo_list.html" ignore missing %}

      <section class="section">
        <h3 class="heading-medium">Associate Linkedin</h3>
      </section>

      <section class="section">
        <h3 class="heading-medium">Upload CV</h3>
        <form>
          <input type="file" class="form-control" />
        </form>
      </section>

      <section class="section">
        <h3 class="heading-medium">Your Skills</h3>
      </section>

    </div>
  </div>
</main>

{% endblock %}