{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <section class="column-quarter">
    <section>
      <h5 class="heading-small">Colm Britton</h5>
      <span>0 applications</span>
    </section>
    <section class="section">
      {% include "partials/basic_jobs_menu.html" ignore missing %}
    </section>
  </section>
  <section class="column-three-quarter">
    {% include "partials/job_search.html" ignore missing %}
    {% include "partials/jd_listings.html" ignore missing %}
  </section>
</main>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% assets "js_profile_jobs" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}