{% extends "signup_layout.html" %}

{% block head %}

  {{ super() }}

  {% assets "css_login" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}
<main id="content" role="main">

  <a href="/" class="example-back-link">Back to the cross government tools' prototypes</a>

  <form class="creation__form" action="">
    <div class="form-group">
      <label class="form-label-bold" for="email">Email</label>
      <input type="text" class="form-control signup__input" id="email">
    </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <button type="submit" class="button signup__btn">
        <span data-provider="default" class="signup__btn__content--active">Create profile</span>
        <span data-provider="google">Create using google account</span>
        <span data-provider="facebook">Create using facebook account</span>
      </button>
      <ul>
        <li><a href="/">Back</a></li>
      </ul>
    </div>
  </form>

  <div class="success__summary">
    <p class="lede">Account successfully created</p>
  </div>

</main><!-- / #page-container -->
{% endblock %}
