{% extends "signup_layout.html" %}

{% block head %}

  {{ super() }}

  {% assets "css_profile_jobs" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}

{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <section class="column-quarter">
    {% include "partials/basicprofile_jobs_profile.html" ignore missing %}
    <section class="section">
      {% include "partials/basic_jobs_menu.html" ignore missing %}
    </section>
  </section>
  <section class="column-three-quarter">
    {% include "partials/your_apps_head.html" ignore missing %}
    {% include "partials/your_apps_list.html" ignore missing %}
  </section>
</main>

{% endblock %}
{% block body_end %}
  {{ super() }}
  {% assets "js_your_apps" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}