{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <section class="column-quarter">
    <section>
      <h5 class="heading-small">Colm Britton</h5>
      <span>0 applications</span>
    </section>
    <section class="section">
      {% include "partials/basic_jobs_menu.html" ignore missing %}
    </section>
  </section>
  <section class="column-three-quarter">
    {% include "partials/your_apps_head.html" ignore missing %}
    {% include "partials/your_apps_list.html" ignore missing %}
  </section>
</main>

{% endblock %}