{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      <section class="container">
        {% include "partials/perf_profile.html" ignore missing %}
      </section>
      <section class="container section">
        {% include "partials/perf_menu.html" ignore missing %}
      </section>
    </div>
    <div class="column-three-quarter">
      <header class="profile--include">
        <h1 class="form-title heading-large">Your review</h1>

        <p class="lede">Compare how you thought you've performed with how your colleagues think you've performed</p>

      </header>

      {% include "partials/last_review.html" ignore missing %}
    </div>
</main>

{% endblock %}