{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      {% include "partials/perf_profile.html" ignore missing %}
      <nav class="section">
        {% include "partials/perf_menu.html" ignore missing %}
      </nav>
    </div>
    <div class="column-three-quarter">
      <h1 class="heading-large section__head">Past reviews</h1>
      <ul class="section">

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Front-end developer</h3>
          <p class="jd__title--department">Government Digital Service (GDS)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>Oct 2014</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">9 peer reviews</div>
            <div class="column-third">11 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Front-end developer</h3>
          <p class="jd__title--department">Government Digital Service (GDS)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>March 2014</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">6 peer reviews</div>
            <div class="column-third">9 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Junior developer</h3>
          <p class="jd__title--department">Ministry of Justice (MoJ)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>Oct 2013</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">12 peer reviews</div>
            <div class="column-third">15 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Junior developer</h3>
          <p class="jd__title--department">Ministry of Justice (MoJ)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>Oct 2012</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">7 peer reviews</div>
            <div class="column-third">5 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Junior developer</h3>
          <p class="jd__title--department">Ministry of Justice (MoJ)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>March 2012</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">5 peer reviews</div>
            <div class="column-third">8 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

        <li class="past-role">
          <h3 class="heading-medium jd__role past-role__title">Junior developer</h3>
          <p class="jd__title--department">Ministry of Justice (MoJ)</p>
          <div class="grid-row">
            <div class="column-half">
              <dl class="past-role__dates">
                <dt>Review date</dt>
                <dd>Oct 2011</dd>
              </dl>
            </div>
          </div>
          <div class="grid-row">
            <div class="column-third">5 peer reviews</div>
            <div class="column-third">8 comments</div>
            <div class="column-third"><a href="">view review</a></div>
          </div>
        </li>

      </ul>
    </div>
</main>

{% endblock %}