{% extends "signup_layout.html" %}

{% block head %}

  {% assets "css_perf_review" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {{ super() }}

{% endblock %}

{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      {% include "partials/perf_profile.html" ignore missing %}
      <nav class="section">
        {% include "partials/perf_menu.html" ignore missing %}
      </nav>
    </div>
    <div class="column-three-quarter">
      <header class="profile--include">
        <h1 class="form-title heading-large section__head">Your review</h1>

        <p class="lede">Compare how you thought you've performed with how your colleagues think you've performed</p>

      </header>

      {% include "partials/last_review.html" ignore missing %}
    </div>
</main>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% assets "js_perf_review" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}