{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      <section class="container">
        {% include "partials/perf_profile.html" ignore missing %}
      </section>
      <section class="container section">
        {% include "partials/perf_menu.html" ignore missing %}
      </section>
    </div>
    <div class="column-three-quarter">
      <h1 class="heading-large">Objectives</h1>
      <ul class="objectives">
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective #1</h3>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
          </div>
        </li>
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective #2</h3>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
          </div>
        </li>
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective #3</h3>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
          </div>
        </li>
      </ul>
      <section class="section">
        <button class="button">+ add objective</button>
      </section>
    </div>
</main>

{% endblock %}