{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-third">
      <section class="container">
      {% include "partials/basicprofile.html" ignore missing %}
      </section>
      <section class="component component--clear">{% include "partials/profile/key-info.html" ignore missing %}</section>
      <section class="component">{% include "partials/profile/team_component.html" ignore missing %}</section>
      <section class="component">{% include "partials/profile/communities.html" ignore missing %}</section>
    </div><!-- end column-third -->

    <div class="column-two-thirds">
      {% include "partials/people_finder.html" ignore missing %}
      <div class="grid-row">
        <div class="column-half">{% include "partials/week_availability.html" ignore missing %}</div>
        <div class="column-half">{% include "partials/profile/next-meeting.html" ignore missing %}</div>
      </div>
      {% include "partials/todo_list.html" ignore missing %}
      <section>
        {% include "partials/skills_component.html" ignore missing %}
      </section>
    </div><!-- end column-two-thirds -->
  </div>

  <div class="grid-row">
    <div class="column-third">
      <section>
        {% include "partials/profile/equip_component.html" ignore missing %}
      </section>
    </div>
    <div class="column-two-thirds">
      <section>
        {% for service in user_services %}
          {% if service.data.id == "expenses" %}
            {% include "partials/expenses_widget.html" ignore missing %}
          {% endif %}
        {% endfor %}
      </section>
    </div>
  </div>

  {% include "partials/add_services.html" ignore missing %}
</main>

{% endblock %}
