{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      <section class="container">
        {% include "partials/perf_profile.html" ignore missing %}
      </section>
      <section class="container section">
        {% include "partials/perf_menu.html" ignore missing %}
      </section>
    </div>
    <div class="column-three-quarter">
      <h1 class="heading-large">Objectives</h1>
      <ul class="objectives">
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective 1</h3>
          <button class="btn--edit objective__edit-btn">edit</button>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
              <p>Build and test 5 prototypes for new cross government project by May 29th, 2015</p>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
              <p>Work with back-end developer, user researcher, business analyst and content designer on concept and design. Test with users once each prototype is completed, and iterate.</p>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
            <ul class="list-bullet">
              <li>prototype 1 <a href="">Create a profile</a> completed, tested and iterated once</li>
            </ul>
          </div>
        </li>
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective 2</h3>
          <button class="btn--edit objective__edit-btn">edit</button>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
              <p>Recruit new full-time front-end developer by June 20th, 2015</p>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
              <p>Work with HR on job description, post vacancy on Linkedin and Civil Service Jobs</p>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
            <ul class="list-bullet">
              <li>job description completed and vacancy posted online</li>
              <li>received 20 CVs to date (20/5/15)</li>
              <li>identified 3 potential candidates</li>
            </ul>
          </div>
        </li>
        <li class="objective">
          <h3 class="heading-medium objective__heading">Objective 3</h3>
          <button class="btn--edit objective__edit-btn">edit</button>
          <div class="grid-row objective__body">
            <div class="column-half objective__part">
              <h3 class="heading-small">What:</h3>
              <p>Present findings of cross government project at <a href="http://www.generateconf.com/london-2015">Generate London</a> 2015 (17th & 18th Sept).</p>
            </div>
            <div class="column-half objective__part">
              <h3 class="heading-small">How:</h3>
              <p>Collect results from Objective 1 when completed. Start working on presentation by August 15th, 2015. </p>
            </div>
          </div>
          <div class="objective__progress">
            <h3 class="heading-small">Progress:</h3>
          </div>
        </li>
      </ul>
      <section class="section">
        <button class="button">+ add objective</button>
      </section>
    </div>
</main>

{% endblock %}