{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
      <section class="container">
        {% include "partials/jobs_profile.html" ignore missing %}
      </section>
      <section class="container section">
        {% include "partials/jobs_menu.html" ignore missing %}
      </section>
    </div>
    <div class="column-three-quarter">
      {% include "partials/job_search.html" ignore missing %}
    </div>
  </div>

</main>

{% endblock %}