{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-third">
      <section class="container">
      {% include "partials/basicprofile.html" ignore missing %}
      </section>
      {% include "partials/profile/key-info.html" ignore missing %}
      {% include "partials/week_availability.html" ignore missing %}
      <section class="section">
        {% include "partials/profile/next-meeting.html" ignore missing %}
      </section>
    </div><!-- end column-third -->
    <div class="column-two-thirds">
      {% include "partials/people_finder.html" ignore missing %}
      {% include "partials/add_services.html" ignore missing %}
      {% include "partials/todo_list.html" ignore missing %}
      <section>
        {% include "partials/skills_component.html" ignore missing %}
      </section>
    </div>
  </div><!-- end column-two-thirds -->

  <div class="grid-row">
    <div class="column-third">
      <section>
        {% include "partials/profile/equip_component.html" ignore missing %}
      </section>
    </div>
  </div>
</main>

{% endblock %}
