{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <h1 class="heading-large">Your learning</h1>
  <section class="grid-row section">
    <div class="column-half">
      <h2 class="heading-medium">Mandatory courses</h2>
      <ul class="course-list">

        {% from "partials/course_list.html" import build_course_item %}
        {% for course in courses.mandatory %}
          {{ build_course_item(course) }}
        {% endfor %}

      </ul>
    </div>
    <div class="column-half">
      <h2 class="heading-medium">Your courses</h2>
    </div>
  </section>
</main>

{% endblock %}