{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <h1 class="heading-large">Your learning</h1>
  <section class="grid-row section--bottom">
    <div class="column-half">
      <h2 class="heading-small">Mandatory courses</h2>
      <ul class="course-list">

        {% from "partials/course_list.html" import build_course_item %}
        {% for course in courses.mandatory %}
          {{ build_course_item(course) }}
        {% endfor %}

      </ul>
      <a class="foot-link" href="/learning/mandatory">see full list of mandatory courses</a>
    </div>
    <div class="column-half">
      <h2 class="heading-small">Your courses</h2>
      <ul class="course-list">

        {% from "partials/course_list.html" import build_course_item %}
        {% for course in courses.personal %}
          {{ build_course_item(course) }}
        {% endfor %}

      </ul>
    </div>
  </section>
  <section class="section">
    <h2 class="heading-small">Development pathways</h2>
    <ul class="pathways-list">
      <li class="development-path grid-row">
        <div class="column-quarter">
          Javascript
        </div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status"></div>
      </li>
      <li class="development-path grid-row">
        <div class="column-quarter">
          Product design
        </div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status"></div>
      </li>
      <li class="development-path grid-row">
        <div class="column-quarter">
          CSS
        </div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
        <div class="column-twelfth stage__status stage__status--complete"></div>
      </li>
    </ul>
    <a class="foot-link" href="/learning/mandatory">see pathways available to you</a>
  </section>
</main>

{% endblock %}