{% extends "signup_layout.html" %}
{% block content %}

{% include "partials/nav.html" ignore missing %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-third">
      {% include "partials/basicprofile.html" ignore missing %}
      <section class="component component--clear">
        {% include "partials/profile/key-info.html" ignore missing %}
      </section>
      <section class="component">
        {% include "partials/profile/team_component.html" ignore missing %}
      </section>
      <section class="component">
        {% include "partials/profile/communities.html" ignore missing %}
      </section>
    </div><!-- end column-third -->

    <div class="column-two-thirds">
      {% include "partials/people_finder.html" ignore missing %}
      <div class="grid-row">
        <section class="component__wrap">
          <h4 class="heading-medium component__head">Availability</h4>
          <div class="column-half component--inner">{% include "partials/week_availability.html" ignore missing %}</div>
          {% if profile.data.next_meeting is defined %}
          <div class="column-half component--inner">{% include "partials/profile/next-meeting.html" ignore missing %}</div>
          {% endif %}
        </section>
      </div>
      <section class="component">
        {% include "partials/todo_list.html" ignore missing %}
      </section>
      <section class="component">
        {% include "partials/skills_component.html" ignore missing %}
      </section>
    </div><!-- end column-two-thirds -->
  </div>

</main>

{% endblock %}
