<section class="component">
  <div class="grid-row">
    <div class="column-third key-metric">
      <h2 class="heading-medium key-metric__name">Headcount</h2>
      <div class="figure key-metric__value">440,130</div>
      <a href="" class="key-metric__more">view details</a>
    </div>
    <div class="column-third key-metric">
      <h2 class="heading-medium key-metric__name">FTE</h2>
      <div class="figure key-metric__value">405,940</div>
      <a href="" class="key-metric__more">view details</a>
    </div>
    <div class="column-third key-metric">
      <h2 class="heading-medium key-metric__name">Payroll cost</h2>
      <div class="figure key-metric__value">£11.5bn</div>
      <a href="" class="key-metric__more">view details</a>
    </div>
  </div>
</section>