<aside class="signup__wrap">
  <div class="signup">
    <h2 class="heading-medium">Create GOV.UK profile</h2>
    <p>If you create a profile you can:</p>

    <ul class="list-bullet"><li>apply for civil service jobs</li>
    <li>set up email job alerts</li>
    <li>save applications and vacancies</li></ul>

    {% include "public/includes/form.html" %}

  </div>
</aside>
<div class="signup__success__wrap">
  <div class="signup__success">
    <p>Profile successfully created. <a href="/signup/basicprofile">Visit profile now</a></p>
  </div>
</div>
